# Manipulace s `DataFrames`

## Příprava prostředí

In [ ]:
import pandas
import os
import random
import sqlalchemy as sql    # alias pro knihovnu

In [ ]:
__file__ = __vsc_ipynb_file__
SCRIPT_FOLDER = os.path.dirname(__file__)
PROJECT_FOLDER = os.path.dirname(SCRIPT_FOLDER)
DATA_FOLDER = os.path.join(PROJECT_FOLDER,'data')
SOURCE_FOLDER = os.path.join(PROJECT_FOLDER,'source')

# Pandas čtení souborů

## Přejmenování sloupců

## Čtení dat z Internetu

## Čtení tabulek přímo z webové stránky

## Čtení více `DataFrame` do `dict`

## Uložení `DataFrame` do souboru

### CSV

### Excel

## Spojování `DataFrame`

### Spojení sloupců `DataFrame.join()`

vhodné pro přehledové tabulky /csv, excel/ a jednorázové analýzy

| Datum | EUR | USD | GBP |
|-------|------|------|------|
| 2023-12-01 | 24.35 | 22.39 | 28.3 |
| 2023-12-04 | 24.39 | 22.44 | 28.43 |
| 2023-12-05 | 24.37 | 22.52 | 28.44 |
| 2023-12-06 | 24.36 | 22.59 | 28.46 |
| 2023-12-07 | 24.36 | 22.62 | 28.4 |
| 2023-12-08 | 24.36 | 22.6 | 28.42 |
| 2023-12-11 | 24.38 | 22.66 | 28.49 |
| 2023-12-12 | 24.43 | 22.6 | 28.44 |
| 2023-12-13 | 24.48 | 22.7 | 28.42 |
| 2023-12-14 | 24.41 | 22.38 | 28.4 |
| 2023-12-15 | 24.48 | 22.36 | 28.52 |
| 2023-12-18 | 24.55 | 22.49 | 28.46 |

### Spojení řádků `pandas.concat()`

vhodné k ukládání do DB pro opakované analýzy a grafické prezentace


| Datum | Kurz | Měna |
|-------|------|------|
| 2023-12-01 | 24.35 | EUR |
| 2023-12-01 | 22.39 | USD |
| 2023-12-01 | 28.3 | GBP |
| 2023-12-01 | 25.55 | CHF |
| 2023-12-01 | 2.08 | NOK |
| 2023-12-04 | 24.39 | EUR |
| 2023-12-04 | 22.44 | USD |
| 2023-12-04 | 28.43 | GBP |
| 2023-12-04 | 25.73 | CHF |
| 2023-12-04 | 2.09 | NOK |

## Jak na SQL?

### Uložení `DataFrame` do SQL databaze

### Čtení `DataFrame` z SQL databáze

## Vytvoření `DataFrame` z `dict`

Světem internetu se toulá robot, který každou minutu vysílá informace o svém aktuálním stavu:
- svůj čas: `cas_robota` index 
- textovou zprávu: `zprava`
- GPS pozici: `lati`,`longi`
- hodnoty hodu šesti kostkami: `kostka1`, `kostka2`, `kostka3`, `kostka4`, `kostka5`, `kostka6`
- cenu, stav počítadla a senzoru: `cena`,`pocitadlo`,`senzor`

1. Připravíme si startovací zprávu

In [ ]:
robot = dict(
    zprava="Rip: start robotovy cesty",
    lati=50.30688756,
    longi=14.2896057,
    kostka2=,
    kostka3=,
    kostka1=,
    kostka4=,
    kostka5=,
    kostka6=,
    cena=,
    pocitadlo=,
    senzor=,
)

robot

2. Vytvoříme `DataFrame`

3. Uložíme do databáze

In [ ]:
dbtypes = dict(
    zprava=,
    lati=,
    longi=,
    kostka1=,
    kostka2=,
    kostka3=,
    kostka4=,
    kostka5=,
    kostka6=,
    cena=,
    pocitadlo=,
    senzor=,
)

4. otestujeme přístup `studenta` a `robota` k nové tabulce  
_Poznámka:_ Pokud to neprojde, spusť nad svojí databází [`resource/sql/db-grants.sql`](../resource/sql/db-grants.sql)